header {
  padding-top: 7px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  height: 34px;
  border-bottom: 1px solid #e5e5e5; }

.nav-container {
  margin: 0 auto;
  height: 100%;
  width: 80%; }

.nav-container input[type=text] {
  width: 360px;
  position: relative;
  bottom: 4px; }

.nav-container input[type=text] ul {
  display: inline-block; }

.nav-container input[type=text] li {
  display: inline-block; }

.navigation-list {
  display: inline-block;
  padding: 0; }

.navigation-list li {
  display: inline-block;
  padding: 0px 5px;
  font-size: .75em;
  font-weight: bold;
  margin: 0;
  vertical-align: 4px; }

.nav-right-container {
  float: right;
  height: 25px;
  margin-top: 10px; }

.main-content {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  padding-top: 20px; }

.nav-profile-pic {
  width: 20px;
  height: 20px; }

aside {
  height: 834px;
  display: inline-block;
  width: 25.3%;
  vertical-align: top; }

aside img {
  width: 230px;
  height: 230px; }

aside h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333; }

aside h2 {
  font-weight: 300;
  color: #666;
  margin: 0;
  font-size: 1.3em; }

aside a {
  float: left;
  width: 33.333%;
  font-size: 11px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: inherit; }

aside a span.text-muted {
  color: red;
  size: 11px; }

aside span {
  font-size: 28px;
  font-weight: bold;
  line-height: 1; }

.orgs img {
  width: 42px;
  height: 42px; }

.profile-info-container {
  margin-top: 12px;
  margin-bottom: 12px; }

.joined-date-container {
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid; }

.stats-block {
  height: 44px;
  padding-top: 25px; }

section {
  height: 100%;
  display: inline-block;
  width: 73.9%; }

.sub-navigation ul {
  padding: 0; }

.sub-navigation li {
  display: inline-block;
  list-style-type: none;
  color: #666;
  font-size: .9em;
  padding: 0 15px; }

.filter-bar input[type=text] {
  width: 266px; }

.filter-bar ul {
  display: inline-block; }

.boxed-group-flush {
  height: 303px;
  display: none; }

.boxed-group-flush ul {
  list-style-type: none;
  padding: 0; }

.boxed-group-flush a {
  text-decoration: none;
  color: inherit; }

.boxed-group-flush li {
  margin-top: 25px;
  margin-bottom: 25px; }

.repo-and-owner {
  display: inline-block; }

.star {
  display: inline-block;
  float: right; }

.repo-descrip {
  display: block; }

.programming-language {
  float: right; }

.repo-class-stats {
  display: inline-block;
  float: right; }

.boxed-group-flush-two {
  display: block; }

.boxed-group-flush-two ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.boxed-group-flush-two a {
  text-decoration: none;
  color: inherit; }

.boxed-group-flush-two li {
  margin-bottom: 25px; }

.filter-bar li {
  display: inline-block; }

.branch {
  float: right; }

.repoTitle {
  color: #4078c0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold; }

.repoDescrip {
  font-size: 13px;
  color: #666; }

.repoContainer {
  padding-top: 30px;
  padding-bottom: 30px; }

.progLang {
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #888; }

.boxed-group-flush-three {
  display: none; }

.alert-create-simple-body {
  padding: 15px 0;
  background: lightgrey; }

footer {
  background-color: lightgrey;
  height: 99px; }
