header {
  padding-top: 7px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  height: 34px;
  border-bottom: 1px solid #e5e5e5; }

.nav-container {
  margin: 0 auto;
  height: 100%;
  width: 80%; }

.nav-container input[type=text] {
  width: 360px;
  position: relative;
  bottom: 4px; }

.nav-container input[type=text] ul {
  display: inline-block; }

.nav-container input[type=text] li {
  display: inline-block; }

.navigation-list {
  display: inline-block;
  padding: 0; }

.navigation-list li {
  display: inline-block;
  padding: 0px 5px;
  font-size: .75em;
  font-weight: bold;
  margin: 0;
  vertical-align: 4px; }

.nav-right-container {
  float: right;
  height: 25px;
  margin-top: 10px; }

.main-content {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  padding-top: 20px; }

.nav-profile-pic {
  width: 20px;
  height: 20px; }

aside {
  height: 834px;
  display: inline-block;
  width: 25.3%;
  vertical-align: top; }

aside img {
  width: 230px;
  height: 230px; }

aside h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333; }

aside h2 {
  font-weight: 300;
  color: #666;
  margin: 0;
  font-size: 1.3em; }

aside a {
  float: left;
  width: 33.333%;
  font-size: 11px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: inherit; }

aside a span.text-muted {
  color: red;
  size: 11px; }

aside span {
  font-size: 28px;
  font-weight: bold;
  line-height: 1; }

.orgs img {
  width: 42px;
  height: 42px; }

.profile-info-container {
  margin-top: 12px;
  margin-bottom: 12px; }

.joined-date-container {
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  color: #333;
  font-size: 14px; }

.stats-block {
  height: 44px;
  padding-top: 25px;
  padding-top: 11px;
  padding-bottom: 11px; }

.date-joined-text {
  display: inline-block; }

.stat-number-followers {
  color: #4078c0; }

section {
  height: 100%;
  display: inline-block;
  width: 73.6%;
  margin-left: 3px; }

.sub-navigation {
  width: 100%;
  color: #666;
  border-bottom: 1px solid #ddd; }

.sub-navigation ul {
  padding: 0; }

.sub-navigation li {
  display: inline-block;
  list-style-type: none;
  color: #666;
  font-size: .9em;
  padding: 0 15px; }

.sub-navigation a {
  text-decoration: none;
  color: #666; }

.filter-bar {
  padding-top: 20px; }

.filter-bar input[type=text] {
  width: 222px; }

.filter-bar ul {
  display: inline-block; }

.boxed-group-flush {
  height: 303px;
  display: none; }

.boxed-group-flush ul {
  list-style-type: none;
  padding: 0; }

.boxed-group-flush a {
  text-decoration: none;
  color: inherit; }

.boxed-group-flush li {
  margin-top: 25px;
  margin-bottom: 25px; }

.repo-and-owner {
  display: inline-block; }

.star {
  display: inline-block;
  float: right; }

.repo-descrip {
  display: block; }

.programming-language {
  float: right; }

.repo-class-stats {
  display: inline-block;
  float: right; }

.boxed-group-flush-two {
  display: block; }

.boxed-group-flush-two ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px; }

.boxed-group-flush-two a {
  text-decoration: none;
  color: inherit; }

.boxed-group-flush-two li {
  margin-bottom: 25px;
  color: #4078c0; }

.filter-bar li {
  display: inline-block;
  padding: 0 5px; }

.branch {
  float: right; }

.repoTitle {
  color: #4078c0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px; }

.repoTitle p {
  margin: 0; }

.repoDescrip {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px; }

.repoContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee; }

.progLang {
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #888; }

.updatedAt {
  font-size: 12px;
  color: #888; }

.repoContainer-leftcol {
  display: inline-block; }

.repoContainer-rightcol {
  display: inline-block;
  float: right; }

.stargazers-url {
  margin-left: 12px; }

.forks-url {
  float: right;
  margin-left: 12px; }

.alert-create-simple-body {
  padding: 15px 0;
  background: lightgrey; }

.alert-push {
  margin-bottom: 17px;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 13px; }

.alert-push p {
  margin: 0; }

.icon-wrapper {
  display: inline-block;
  vertical-align: top;
  color: #bbb; }

.events-right-col {
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 14px; }

.events-right-col p {
  display: inline-block;
  font-size: 14px; }

.events-right-col-title {
  margin-bottom: 4px; }

.events-time {
  font-size: 12px;
  color: #bbb; }

.events-username {
  display: inline-block;
  color: #4078c0;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px; }

.events-master {
  display: inline-block;
  margin: 0 6px;
  color: #4078c0;
  font-weight: bold; }

.events-master p {
  font-size: 14px; }

.events-repoName {
  display: inline-block;
  color: #4078c0;
  font-weight: bold;
  font-size: 14px;
  margin-left: 6px; }

.events-profilePic {
  display: inline-block;
  width: 30px; }

.eventsRepoWrapper {
  border-bottom: 1px solid #f1f1f1; }

.events-commits {
  display: inline-block;
  color: #4078c0;
  margin: 0 6px;
  font-size: 14px; }

.events-message {
  display: inline-block;
  color: #666;
  font-size: 14px; }

.events-descrip-container {
  display: inline-block;
  vertical-align: top; }

.icon-wrapper-events-repo {
  display: inline-block;
  color: #bbb; }

.events-right-col-create-repo {
  display: inline-block;
  margin-left: 12px;
  font-size: 13px;
  color: #666; }

.events-right-col-create-repo p {
  display: inline-block;
  margin-right: 9px; }

.events-create-username {
  display: inline-block;
  color: #4078c0;
  margin-right: 12px; }

.events-create-url {
  display: inline-block;
  margin-right: 12px;
  color: #4078c0; }

.events-create-time {
  display: inline-block;
  margin-right: 12px;
  color: #bbb; }

.eventsBranchWrapper {
  border-bottom: 1px solid #f1f1f1; }

.eventsBranchWrapper p {
  display: inline-block; }

.events-create-branch {
  display: inline-block; }

.events-create-repourl {
  display: inline-block;
  color: #4078c0; }

.icon-wrapper-events-branch {
  display: inline-block;
  color: #bbb; }

.events-right-col-create-branch {
  display: inline-block;
  margin-left: 12px;
  margin-left: 12px;
  font-size: 13px;
  color: #666; }

.events-right-col-create-branch p {
  margin-right: 12px; }

.inactive {
  display: none; }

footer {
  background-color: lightgrey;
  height: 99px; }
